.custom-modal {
  height: 200px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  border-radius: 4px;
}
.custom-modal:hover {
  transform: scale(1.1);
  font-weight: 600;
}
